/* PART 1 STYLING: NOTIFICATION */

/* BLOCK SCROLLING */
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

/* NOTIFICATION STYLE */
#cooltoast-container {
  position: fixed;
  top: 0;
  left: 50px;
  width: calc(100vw - 100px);
  font-family: 'Nanum';
}

.cooltoast-toast {
  position: relative;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 8px;
  background: #FDFDFD;
  cursor: pointer;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.08), 0 1px 3px rgba(0, 0, 0, 0.19);
  animation-duration: .3s;
  animation-name: cooltoast;
  animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

.cooltoast-fadeOut {
  animation-name: cooltoastFadeOut;
  animation-duration: .3s;
  animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  animation-fill-mode: forwards;
}

#cooltoast-container p,
#cooltoast-container h4 {
  margin: 3px 0 !important;
}

.cooltoast-title {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 10px;
}

.cooltoast-text {
  font-size: 20px;
  color: #777;
}

.cooltoast-icon {
  position: absolute;
  top: 5px;
  left: -40px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #FFFFFF00;
}

.cooltoast-toast a,
.cooltoast-toast a:hover {
  color: #549EDB !important;
  text-decoration: none !important;
}

/** toast types */
.cooltoast-success {
  border-bottom: 2px solid #51C625;
}

.cooltoast-warning {
  border-bottom: 2px solid #DB9215;
}

.cooltoast-error {
  border-bottom: 2px solid #DB2B1D;
}

.cooltoast-info {
  border-bottom: 2px solid #27ABDB;
}

@keyframes cooltoast {
  from {
    transform: translate3d(0, -400px, 0);
    ;
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes cooltoastFadeOut {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  to {
    transform: translate3d(0, -400px, 0);
    opacity: 0;
  }
}