/* PART 2 BODY */
body.part2 {
    height: 1000vh;
    animation: stop-scroll 2s calc(var(--scroll) * -2s) ease-in-out paused;
}

/* CLOUD*/
.cloud {
    position: fixed;
    width: 100vw;
    left: 3vw;
    transform: scale(4);
    bottom: 40vh;
    transform-origin: center;
    animation: cloud-brain 2s ease-in calc(var(--scroll) * -2s) paused;
}

/* BRAINSTORMING TEXT*/
h1 {
    position: fixed;
    top: 42vh;
    left: -150vw;
    width: 10vw;
    font-size: 4rem;
    animation: text-move 2s ease-in calc(var(--scroll) * -2s) paused;
}

/* TWO HOURS LATER TEXT*/
h2 {
    position: fixed;
    top: 7vh;
    left: 200vw;
    background-color: white;
    margin: 0px;
    padding: 15px;
    border: 5px solid black;
    border-radius: 25px;
    filter: drop-shadow(3px 3px 0 black);
    font-size: 4rem;
    white-space: nowrap;
    animation: text-move2 2s ease-in calc(var(--scroll) * -2s) paused;
}


/* GEARS*/
.white-gear1 {
    position: fixed;
    width: 100px;
    top: 10vh;
    left: 10vw;
    /* width: 10vw; */
    transform: scale(0);
    animation: white-gear1-animation 2s linear calc(var(--scroll) * -2s) paused;
}

.white-gear2 {
    position: fixed;
    width: 200px;
    bottom: 10vh;
    right: 10vw;
    transform: scale(0);
    animation: white-gear2-animation 2s linear calc(var(--scroll) * -2s) paused;
}


.black-gear1 {
    position: fixed;
    width: 175px;
    top: 20vh;
    right: 10vw;
    transform: scale(0);
    animation: black-gear1-animation 2s linear calc(var(--scroll) * -2s) paused;
}

.black-gear2 {
    position: fixed;
    width: 125px;
    bottom: 32vh;
    left: 10vw;
    transform: scale(0);
    animation: black-gear2-animation 2s ease-in calc(var(--scroll) * -2s) paused;
}

/* LIGHTBULB*/
.lightbulb {
    position: fixed;
    width: 300px;
    transform-origin: bottom;
    transform: scale(0);
    left: calc(50vw - 140px);
    animation: idea-animation 2s linear calc(var(--scroll) * -2s) paused;
}

/* DREW */
.faces.part2 {
    position: fixed;
    bottom: 0px;
    left: calc(50vw - 73px);
    height: 50vh;
    width: 73px;
    transform-origin: bottom;
    transform: translate(0, 30vh) scale(2);
    animation: drew-story2 2s linear calc(var(--scroll) * -2s) paused;
}

/* VIDEO CALL BUTTON */
.button-video {
    position: fixed;
    top: calc(50vh + 10vh);
    left: calc(50vw - 15vh);
    width: 30vh;
    filter: drop-shadow(3px 3px 0 black);
    transform: scale(0);
    animation: video-button 2s calc(var(--scroll) * -2s) ease-in-out paused;
}

/* PAPERPLANE */
.button-paperplane {
    position: fixed;
    top: 30vh;
    left: calc(50vw - 15vh);
    width: 30vh;
    filter: drop-shadow(2px 0px 0 black);
    transform: scale(0);
    animation: paperplane-button 2s calc(var(--scroll) * -2s) ease-in-out paused;
}

/* ANIMATION DREW */
@keyframes drew-story2 {
    0% {
        transform: translate(0, 30vh) scale(2);
    }

    10% {}

    20% {}

    50% {}

    60% {}

    70% {}

    80% {}

    90% {}

    100% {}
}

/* KANN MAN DEAKTIVIEREN, FALLS NERVT (ABER OHNE STOP-SCROLL IST ANIMATION BEI 100% NICHT MEHR SICHTBAR) */
@keyframes stop-scroll {
    95% {
        overflow: auto;
    }

    100% {
        overflow: hidden;
    }
}



/* ANIMATIONS*/


/* ANIMATION CLOUD*/
@keyframes cloud-brain {
    0% {
        transform: scale(4);
        transform-origin: center;
    }

    50% {
        transform: scale(4);
        transform-origin: center;
        bottom: 40vh;
    }

    60% {
        transform: scale(0);
        transform-origin: bottom;
        bottom: 50vh;
    }

    100% {
        transform: scale(0);
        transform-origin: bottom;
    }
}


/* ANIMATION BRAINSTORMING TEXT*/
@keyframes text-move {

    0% {
        left: -150vw;
    }

    35% {
        left: 150vw;
    }

    100% {
        left: 150vw;
    }
}

/* ANIMATION GEARS*/

/* ANIMATION WHITE GEAR 1 */
@keyframes white-gear1-animation {

    0% {
        transform: scale(0) rotate(0deg);
    }

    5% {
        transform: scale(1) rotate(90deg);
    }

    20% {
        transform: scale(1) rotate(180deg);
    }

    30% {
        transform: scale(1) rotate(270deg);
    }

    40% {
        transform: scale(0) rotate(360deg);
    }
}

/* ANIMATION WHITE GEAR 2 */
@keyframes white-gear2-animation {

    0% {
        transform: scale(0) rotate(0deg);
    }

    7% {
        transform: scale(1) rotate(-90deg);
    }

    20% {
        transform: scale(1) rotate(-180deg);
    }

    30% {
        transform: scale(1) rotate(-270deg);
    }

    40% {
        transform: scale(0) rotate(-360deg);
    }
}

/* ANIMATION BLACK GEAR 1*/
@keyframes black-gear1-animation {

    0% {
        transform: scale(0) rotate(0deg);
    }

    5% {
        transform: scale(1) rotate(-90deg);
    }

    20% {
        transform: scale(1) rotate(-180deg);
    }

    30% {
        transform: scale(1) rotate(-270deg);
    }

    40% {
        transform: scale(1) rotate(-330deg);
    }

    43% {
        transform: scale(0) rotate(-360deg);
    }
}

/* ANIMATION BLACK GEAR 2*/
@keyframes black-gear2-animation {
    0% {
        transform: scale(0) rotate(0deg);
    }

    8% {
        transform: scale(1) rotate(90deg);
    }

    20% {
        transform: scale(1) rotate(180deg);
    }

    30% {
        transform: scale(1) rotate(270deg);
    }

    40% {
        transform: scale(1) rotate(330deg);
    }

    45% {
        transform: scale(0) rotate(360deg);
    }
}


/* ANIMATION LIGHT BULB*/

@keyframes idea-animation {

    0% {
        transform: scale(0);
        bottom: -50vh;
    }

    40% {
        transform: scale(0);
        bottom: -50vh;
    }

    45% {
        transform: scale(2);
        bottom: 0vh;
        transform-origin: center;
    }

    50% {
        transform: scale(2);
        bottom: 50vh;
        transform-origin: center;
    }

    55% {
        opacity: 1;
    }

    58% {
        transform: scale(0.5);
        bottom: 50vh;
        transform-origin: center;
        opacity: 0;
    }

    60% {
        transform: scale(0);
        bottom: 50vh;
        transform-origin: bottom;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}

/* ANIMATION PAPERPLANE */
@keyframes paperplane-button {
    70% {
        transform: scale(0);
    }

    72% {
        transform: scale(1);
    }

    77% {
        top: 30vh;
        left: calc(50vw - 15vh);
        transform: scale(1);
    }

    85% {
        left: 100vw;
        top: -10vh;
        transform: scale(0);
    }
}

/* ANIMATION HOURS LATER*/
@keyframes text-move2 {

    0% {
        left: 200vw;
    }

    75% {
        left: 200vw;
    }

    92% {
        left: -200vw;
    }

    100% {
        left: -200vw;
    }
}

/* ANIMATION VIDEO-BUTTON */
@keyframes video-button {
    92% {
        transform: scale(0);
    }

    95% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(0.8);
    }
}