/* PART 4 STYLING: IDEAS GO TO TRASH */

/* PART 4 BODY */
body.part4 {
    /* height: 1000vh; */
    height: 500vh;
    animation: stop-scroll 2s calc(var(--scroll) * -2s) ease-in-out paused;
}

/* DREW */
.faces.part4 {
    position: fixed;
    bottom: 20vh;
    left: calc(50vw - 73px);
    height: 50vh;
    width: 73px;
    transform-origin: bottom;
    z-index: 0;
    animation: drew-story4 2s ease-in-out calc(var(--scroll) * -2s) paused;
}

/*DREW CHANGING TO BLACK*/
.drew-nervous-black {
    position: fixed;
    bottom: 20vh;
    left: calc(50vw - 73px);
    height: 50vh;
    width: 73px;
    transform-origin: bottom;
    z-index: 1;
    animation: drew-story4-black 2s ease-in-out calc(var(--scroll) * -2s) paused;
}

@keyframes drew-story4 {
    0% {
        transform: scale(1) translate(0, 0);
    }

    20% {
        transform: scale(1) translate(0, 0);

    }

    30% {
        transform: scale(1) translate(0, 0);
        z-index: 0;
    }

    31% {
        transform: scale(1) translate(0, 0);
        z-index: 1;
    }

    35% {
        z-index: 1;
        transform: scale(2) translate(0, 30vh);
        opacity: 1;
        left: calc(50vw - 73px);

    }

    75% {
        z-index: 1;
        transform: scale(30) translate(0, 30vh);
        left: -50vh;
        opacity: 0;
    }

    100% {
        transform: scale(30) translate(0, 30vh);
        left: -50vh;
    }
}

@keyframes drew-story4-black {
    0% {
        opacity: 0;
    }

    20% {

        transform: scale(1) translate(0, 0);

    }

    30% {
        transform: scale(1) translate(0, 0);
        z-index: 0;
    }

    35% {
        z-index: 1;
        transform: scale(2) translate(0, 30vh);
        left: calc(50vw - 73px);
        opacity: 0;

    }

    45% {
        opacity: 1;
    }


    75% {
        z-index: 1;
        transform: scale(30) translate(0, 30vh);
        left: -50vh;
    }

    100% {
        transform: scale(30) translate(0, 30vh);
        left: -50vh;
        opacity: 1;
    }
}

.trash {
    position: fixed;
    bottom: 15vh;
    left: -35vh;
    height: 35vh;
    transform-origin: bottom;
    animation: trash 2s calc(var(--scroll) * -2s) ease-in-out paused;
}

@keyframes trash {
    0% {
        left: calc(0vw - 200px);
    }

    18% {
        left: calc(50vw - 200px);
    }

    100% {
        left: calc(50vw - 200px);
    }
}

/* MAIL BUTTON */
.button-mail {
    position: fixed;
    top: calc(50vh - 15vw);
    left: calc(50vw - 15vw);
    width: 30vw;
    transform: scale(0);
    animation: mail-button 2s calc(var(--scroll) * -2s) ease-in-out paused;
}

/* ANIMATION MAIL BUTTON */
@keyframes mail-button {
    92% {
        transform: scale(0);
    }

    95% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}


/* KANN MAN DEAKTIVIEREN, FALLS NERVT (ABER OHNE STOP-SCROLL IST ANIMATION BEI 100% NICHT MEHR SICHTBAR) */
@keyframes stop-scroll {
    95% {
        overflow: auto;
    }

    100% {
        overflow: hidden;
    }
}