/* PART 5 STYLING: COUNTDOWN AND END */

/* PART 5 BODY */
body.part5 {
    height: 1000vh;
    background-color: black;
    animation: stop-scroll 2s calc(var(--scroll) * -2s) ease-in-out paused;
}

/* DARK BACKGROUND IN BEGINNING (FOR COUNTDOWN) */
.paper-texture {
    opacity: 0;
    animation: dark-background 2s calc(var(--scroll) * -2s) ease-in-out paused;
}

/* SCIBBLE SVG DIV CONTAINER */
.svg-container {
    width: 100%;
    background-color: black;
    overflow: hidden;
    position: fixed;
    top: -10px;
    height: 100%;
    animation: pushup 2s calc(var(--scroll) * -2s) ease-in-out paused;
}

/* FIRST SCRIBBLE SVG */
.scribble-svg {
    position: absolute;
    height: 300vh;
    top: -150vh;
    left: -100vw;
    width: 300vw;
}

/* SECOND SCRIBBLE SVG */
.scribble-svg.wide {
    height: 300vh;
    top: -100vh;
    left: -100vw;
    width: 300vw;
    animation: scribble 2s calc(var(--scroll) * -2s) ease-in-out paused;
}

/* SCRIBBLE PATH */
.scribble-path {
    stroke: white;
    fill: none;
    stroke-width: 1px;
    stroke-dasharray: 16205px;
    opacity: 0;
    animation: scribble 2s calc(var(--scroll) * -2s) ease-in-out paused;
}


/* FIRE */
.flame {
    position: fixed;
    width: 80vw;
    max-width: 200px;
    left: calc(50vw - 100px);
    bottom: 0%;
    transform: scale(0);
    transform-origin: bottom;
    animation: flaminghot 2s calc(var(--scroll) * -2s) ease-in-out paused;
}

/* FIRE (SMALL RIGHT) */
.flame.flame1 {
    width: 60vw;
    max-width: 180px;
    left: calc(50vw - 150px);
    animation: flaminghot-right 2s calc(var(--scroll) * -2s) ease-in-out paused;
}

/* FIRE (SMALL LEFT) */
.flame.flame2 {
    width: 60vw;
    max-width: 180px;
    left: calc(50vw - 50px);
}

/* COUNTDOWN CONTAINER POSITION */
.countdown {
    position: fixed;
    text-align: center;
    width: 0px;
    transform: translate(-100vh, 0);
    animation: countdown-fade 2s calc(var(--scroll) * -2s) ease-in-out paused;
}

/* COUNTDOWN DAYS POSITION */
.count {
    position: fixed;
    width: 200px;
    left: calc(50vw - 100px);
    top: calc(50vh - 100px);
}


/* SEPERATE DAYS OF COUNTDOWN */
.day10 {
    animation: day10 2s calc(var(--scroll) * -2s) ease-in-out paused;
}

.day9 {
    animation: day9 2s calc(var(--scroll) * -2s) ease-in-out paused;
}

.day8 {
    animation: day8 2s calc(var(--scroll) * -2s) ease-in-out paused;
}

.day7 {
    animation: day7 2s calc(var(--scroll) * -2s) ease-in-out paused;
}

.day6 {
    animation: day6 2s calc(var(--scroll) * -2s) ease-in-out paused;
}

.day5 {
    animation: day5 2s calc(var(--scroll) * -2s) ease-in-out paused;
}

.day4 {
    animation: day4 2s calc(var(--scroll) * -2s) ease-in-out paused;
}

.day3 {
    animation: day3 2s calc(var(--scroll) * -2s) ease-in-out paused;
}

.day2 {
    animation: day2 2s calc(var(--scroll) * -2s) ease-in-out paused;
}

.day1 {
    animation: day1 2s calc(var(--scroll) * -2s) ease-in-out paused;
}

.day0 {
    animation: day0 2s calc(var(--scroll) * -2s) ease-in-out paused;
}


/* DREW */
.faces.part5 {
    position: fixed;
    bottom: 0px;
    left: calc(50vw - 40px);
    height: 50vh;
    width: 73px;
    transform-origin: bottom;
    animation: drew-story5 2s ease-in-out calc(var(--scroll) * -2s) paused;
}

.drew-arms {
    opacity: 0;
    position: absolute;
    left: -12.5vh;
    width: 30vh;
    height: 100%;
    /* z-index: 20; */
    transform-origin: right;

}

.left-arm {
    animation: left-arm 2s ease-in-out calc(var(--scroll) * -2s) paused;
}

.right-arm {
    animation: right-arm 2s ease-in-out calc(var(--scroll) * -2s) paused;
}

/* FURNITURE */
.furniture {
    position: fixed;
    height: 50vh;
    bottom: 0;
}

.chair {
    left: calc(50vw - 10vh);
    opacity: 0;
    animation: chair 2s ease-in-out calc(var(--scroll) * -2s) paused;
}

.bed {
    right: calc(50vw - 40vh);
    opacity: 0;
    animation: bed 2s ease-in-out calc(var(--scroll) * -2s) paused;
}

.desk {
    left: calc(50vw - 30vh);
    opacity: 0;
    animation: desk 2s ease-in-out calc(var(--scroll) * -2s) paused;
}

/* BLACK CIRCLE OF FADE OUT*/
.fade-out {
    position: fixed;
    top: calc(50vh - 100vw);
    left: -50vw;
    width: 200vw;
    transform: scale(0);
    animation: fade-out 2s calc(var(--scroll) * -2s) ease-in-out paused;
}

/* CREDITS TEXT */
.credits {
    color: white;
    text-align: center;
    position: fixed;
    top: calc(50vh - 100px);
    left: calc(50vw - 25vw);
    width: 50vw;
    /* height: calc(50vh - 100px); */
    transform: scale(0);
    animation: credits 2s calc(var(--scroll) * -2s) ease-in-out paused;
}

/* CREDITS DREW ICON */
.credits.drew-icon {
    left: calc(25vw - 50px);
    top: 30vh;
    width: 100px;
    transition: 0.2s;
}

/* CREDITS HOVER EFFECT DREW ICON */
.drew-icon:hover {
    left: calc(25vw - 60px);
    width: 120px;
    top: calc(30vh - 10px);
}

.front {
    z-index: 10;
}

/* ANIMATION SCRIBBLE */
@keyframes scribble {
    0% {
        opacity: 1;
        stroke-dashoffset: 16205px;
    }

    30% {
        opacity: 1;
        stroke-dashoffset: 0px;
    }

    35% {
        opacity: 0;
        stroke-dashoffset: 0px;
    }
}

/* ANIMATION BURNING FIRE */
@keyframes flaminghot {
    5% {
        transform: scale(0);
    }

    27% {
        transform: scale(1);
    }

    30% {
        transform: translate(100vw, 0) scale(2);
    }

    100% {
        transform: translate(100vw, 0) scale(2);
    }
}

@keyframes flaminghot-right {
    5% {
        transform: scale(0);
    }

    27% {
        transform: scale(1);
    }

    30% {
        transform: translate(-100vw, 0) scale(2);
    }

    100% {
        transform: translate(-100vw, 0) scale(2);
    }
}

/* ANIMATION SCRIBBLE SACHEN NACH OBEN SCHIEBEN */
@keyframes pushup {
    30% {
        top: -10px;
    }

    35% {
        top: calc(-150vh - 10px);
    }

    100% {
        top: calc(-150vh - 10px);
    }
}


/* ANIMATION DREW */
@keyframes drew-story5 {
    0% {
        transform: translate(3vw, -20vh) scale(0);
        opacity: 0;
    }

    20% {
        transform: translate(3vw, -20vh) scale(0);
        opacity: 0;
    }

    25% {
        transform: translate(0, -20vh) scale(0);
        opacity: 1;
    }

    30% {
        transform: translate(0, -20vh) scale(1);
    }

    80% {
        z-index: 0;
        transform: translate(0, -20vh) scale(1);
    }

    84% {
        z-index: 10;
        transform: translate(0, 30vh) scale(2);
    }

    100% {
        transform: translate(0, 30vh) scale(2);
    }
}

/* ANIMATION RIGHT ARM */
@keyframes right-arm {
    0% {
        opacity: 1;
        transform: rotate(0);
    }

    30% {
        transform: rotate(0) scale(1);
    }

    31% {
        transform: rotate(-5deg) scale(1)
    }

    32% {
        transform: rotate(5deg) scale(1);
    }

    33% {
        transform: rotate(-5deg) scale(1);
    }

    34% {
        transform: rotate(5deg) scale(1);
    }

    35% {
        transform: rotate(-5deg) scale(1);
    }

    36% {
        transform: rotate(5deg) scale(1);
    }

    37% {
        transform: rotate(-5deg) scale(1);
    }

    38% {
        transform: rotate(5deg) scale(1);
    }

    39% {
        transform: rotate(-5deg) scale(1);
    }

    40% {
        transform: rotate(5deg) scale(1);
    }

    41% {
        transform: rotate(-5deg) scale(1);
    }

    42% {
        transform: rotate(5deg) scale(1);
    }

    44% {
        opacity: 1;
    }

    45% {
        transform: rotate(-30deg) scale(1);
        opacity: 0;
    }


    100% {
        opacity: 0;
        transform: rotate(-30deg) scale(1);
    }
}

/* ANIMATION LEFT ARM */
@keyframes left-arm {
    0% {
        opacity: 1;
        transform: rotate(0);
    }

    30% {
        transform: rotate(0) scale(1);
    }

    31% {
        transform: rotate(5deg) scale(1)
    }

    32% {
        transform: rotate(-5deg) scale(1);
    }

    33% {
        transform: rotate(5deg) scale(1);
    }

    34% {
        transform: rotate(-5deg) scale(1);
    }

    35% {
        transform: rotate(5deg) scale(1);
    }

    36% {
        transform: rotate(-5deg) scale(1);
    }

    37% {
        transform: rotate(5deg) scale(1);
    }

    38% {
        transform: rotate(-5deg) scale(1);
    }

    39% {
        transform: rotate(5deg) scale(1);
    }

    40% {
        transform: rotate(-5deg) scale(1);
    }

    41% {
        transform: rotate(5deg) scale(1);
    }

    42% {
        transform: rotate(-5deg) scale(1);
    }

    43% {
        transform: rotate(-5deg) scale(1);
    }

    44% {
        opacity: 1;
    }

    45% {
        opacity: 0;
        transform: rotate(-20deg) scale(0.5);
    }

    100% {
        opacity: 0;
        transform: rotate(-40deg) scale(0.5);
    }
}

/* ANIMATION FURNITURE DESK */
@keyframes desk {
    30% {
        opacity: 0;
        transform: translate(0, 0);
    }

    31% {
        opacity: 1;
        transform: translate(0, 0);
    }

    80% {
        transform: translate(0, 0) scale(1);
    }

    84% {
        transform: translate(-40vw, 80vh) scale(2);
    }

    100% {
        transform: translate(-40vw, 80vh) scale(2);
        opacity: 1;
    }
}

/* ANIMATION FURNITURE CHAIR */
@keyframes chair {
    30% {
        opacity: 0;

    }

    31% {
        opacity: 1;

    }

    80% {
        transform: translate(0, 0) scale(1);
    }


    85% {
        transform: translate(0, 70vh) scale(2);
        opacity: 1;
    }

    100% {
        transform: translate(0, 70vh) scale(2);
        opacity: 1;
    }
}

/* ANIMATION FURNITURE BED */
@keyframes bed {
    30% {
        opacity: 0;
    }

    31% {
        opacity: 1;
    }

    80% {
        transform: translate(0, 0) scale(1);
    }

    84% {
        transform: translate(40vw, 80vh) scale(2);
    }

    100% {
        transform: translate(40vw, 80vh) scale(2);
        opacity: 1;
    }
}


/* ANIMATION COUNTDOWN FADE IN */
@keyframes countdown-fade {
    0% {
        transform: translate(-100vh, 0);
    }

    5% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

/* ANIMATION COUNTDOWN  */
/* ANIMATION DAY-10 */
@keyframes day10 {
    7% {
        transform: translate(0, 0) rotate(0deg)
    }

    10% {
        transform: translate(50vh, 100vh) rotate(90deg)
    }

    100% {
        transform: translate(50vh, 100vh) rotate(90deg)
    }
}

/* ANIMATION DAY-9 */
@keyframes day9 {
    9% {
        transform: translate(0, 0) rotate(0deg)
    }

    12% {
        transform: translate(-50vh, 100vh) rotate(-90deg)
    }

    100% {
        transform: translate(-50vh, 100vh) rotate(-90deg)
    }
}

/* ANIMATION DAY-8 */
@keyframes day8 {
    11% {
        transform: translate(0, 0) rotate(0deg)
    }

    14% {
        transform: translate(-50vh, 100vh) rotate(-90deg)
    }

    100% {
        transform: translate(-50vh, 100vh) rotate(-90deg)
    }
}

/* ANIMATION DAY-7 */
@keyframes day7 {
    13% {
        transform: translate(0, 0) rotate(0deg)
    }

    16% {
        transform: translate(-50vh, 100vh) rotate(-90deg)
    }

    100% {
        transform: translate(-50vh, 100vh) rotate(-90deg)
    }
}

/* ANIMATION DAY-6 */
@keyframes day6 {
    15% {
        transform: translate(0, 0) rotate(0deg)
    }

    18% {
        transform: translate(50vh, 100vh) rotate(90deg)
    }

    100% {
        transform: translate(50vh, 100vh) rotate(90deg)
    }
}

/* ANIMATION DAY-5 */
@keyframes day5 {
    17% {
        transform: translate(0, 0) rotate(0deg)
    }

    20% {
        transform: translate(50vh, 100vh) rotate(90deg)
    }

    100% {
        transform: translate(50vh, 100vh) rotate(90deg)
    }
}

/* ANIMATION DAY-4 */
@keyframes day4 {
    19% {
        transform: translate(0, 0) rotate(0deg)
    }

    22% {
        transform: translate(50vh, 100vh) rotate(90deg)
    }

    100% {
        transform: translate(50vh, 100vh) rotate(90deg)
    }
}

/* ANIMATION DAY-3 */
@keyframes day3 {
    21% {
        transform: translate(0, 0) rotate(0deg)
    }

    24% {
        transform: translate(50vh, 100vh) rotate(90deg)
    }

    100% {
        transform: translate(50vh, 100vh)
    }
}

/* ANIMATION DAY-2 */
@keyframes day2 {
    23% {
        transform: translate(0, 0) rotate(0deg)
    }

    26% {
        transform: translate(50vh, 100vh) rotate(90deg)
    }

    100% {
        transform: translate(50vh, 100vh)
    }
}

/* ANIMATION DAY-1 */
@keyframes day1 {
    25% {
        transform: translate(0, 0) rotate(0deg)
    }

    28% {
        transform: translate(50vh, 100vh) rotate(90deg)
    }

    100% {
        transform: translate(50vh, 100vh)
    }
}

/* ANIMATION DAY-0 */
@keyframes day0 {
    28% {
        width: 200px;
        left: calc(50vw - 100px);
        top: calc(50vh - 100px);
    }

    30% {
        width: 120vw;
        left: -10vw;
        top: calc(100vh - 134vw);
    }

    35% {
        top: calc(100vh - 134vw - 150vh);
    }

    100% {
        width: 120vw;
        left: -10vw;
        top: calc(100vh - 134vw - 150vh);

    }
}


/* ANIMATION BACKGROUND-CHANGE */
@keyframes dark-background {
    30% {
        opacity: 0;
    }

    31% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

/* ANIMATION FADE OUT CIRCLE */
@keyframes fade-out {
    85% {
        transform: scale(0);
    }

    95% {
        transform: scale(2);
    }

    to {
        transform: scale(2);
    }
}

/* ANIMATION CREDITS*/
@keyframes credits {

    92% {
        transform: scale(0);
    }

    95% {
        transform: scale(1);
    }

    to {
        transform: scale(1);
    }
}


/* KANN MAN (bei body) DEAKTIVIEREN, FALLS NERVT (ABER OHNE STOP-SCROLL IST ANIMATION BEI 100% NICHT MEHR SICHTBAR) */
@keyframes stop-scroll {
    95% {
        overflow: auto;
    }

    100% {
        overflow: hidden;
    }
}


/* PART 5 STYLING: NOTIFICATION */

/* BLOCK SCROLLING */
.stop-scrolling {
    height: 100%;
    overflow: hidden;
  }
  
  /* NOTIFICATION STYLE */
  #cooltoast-container {
    position: fixed;
    top: 0;
    left: 50px;
    width: calc(100vw - 100px);
    font-family: 'Nanum Pen Script';
  }
  
  .cooltoast-toast {
    position: relative;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 8px;
    background: #FDFDFD;
    cursor: pointer;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.08), 0 1px 3px rgba(0, 0, 0, 0.19);
    animation-duration: .3s;
    animation-name: cooltoast;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  
  .cooltoast-fadeOut {
    animation-name: cooltoastFadeOut;
    animation-duration: .3s;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-fill-mode: forwards;
  }
  
  #cooltoast-container p,
  #cooltoast-container h4 {
    margin: 3px 0 !important;
  }
  
  .cooltoast-title {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
  }
  
  .cooltoast-text {
    font-size: 20px;
    color: #777;
  }
  
  .cooltoast-icon {
    position: absolute;
    top: 5px;
    left: -40px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #FFFFFF00;
  }
  
  .cooltoast-toast a,
  .cooltoast-toast a:hover {
    color: #549EDB !important;
    text-decoration: none !important;
  }
  
  /** toast types */
  .cooltoast-success {
    border-bottom: 2px solid #51C625;
  }
  
  .cooltoast-warning {
    border-bottom: 2px solid #DB9215;
  }
  
  .cooltoast-error {
    border-bottom: 2px solid #DB2B1D;
  }
  
  .cooltoast-info {
    border-bottom: 2px solid #27ABDB;
  }
  
  @keyframes cooltoast {
    from {
      transform: translate3d(0, -400px, 0);
      ;
      opacity: 0;
    }
  
    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  
  @keyframes cooltoastFadeOut {
    from {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  
    to {
      transform: translate3d(0, -400px, 0);
      opacity: 0;
    }
  }