.faces.part1 {
  position: fixed;
  /* top: calc(50vh - 100px); */
  bottom: 0px;
  left: calc(50vw - 40px);
  height: 50vh;
  width: 73px;
  transform-origin: bottom;
  animation: drew-story1 2s ease-in-out calc(var(--scroll) * -2s) paused;
}

.faces.part2 {
  position: fixed;
  /* top: calc(50vh - 100px); */
  top: 25vh;
  left: calc(50vw - 73px);
  height: 50vh;
  width: 73px;
  transform-origin: bottom;
  animation: drew-story2 2s ease-in-out calc(var(--scroll) * -2s) paused;
}


.wiggle {
  position: fixed;
  height: 50vh;
  transform-origin: bottom center;
  background-color: none;
  animation: wiggle-effect 2s ease-in-out infinite;
  background-color: none;
}

@keyframes wiggle-effect {
  0% {
    transform: rotate(2deg);
  }

  50% {
    transform: rotate(-2deg);
  }

  100% {
    transform: rotate(2deg);
  }
}

@keyframes drew-story1 {
  0% {
    transform: translate(60vw, 0) scale(1);
  }

  10% {
    transform: translate(0, 0) scale(1);
  }

  40% {
    transform: translate(0, 0) scale(1);
  }

  47% {
    transform: translate(0, -22vh) scale(1);
  }

  50% {
    transform: translate(0, -20vh) scale(1);
  }

  100% {
    transform: translate(0, -20vh) scale(1)
  }
}

@keyframes drew-story2 {
  0% {transform: translate(0, 0) scale(1);}

  10% {}

  20% {}

  50% {}

  60% {}

  70% {}

  80% {}

  90% {}

  100% {

  }
}