.furniture {
  position: fixed;
  height: 50vh;
  bottom: 0;
}

.chair {
  left: calc(50vw - 10vh);
  opacity: 0;
  animation: chair 2s ease-in-out calc(var(--scroll) * -2s) paused;
}

.bed {
  right: calc(50vw - 40vh);
  opacity: 0;
  animation: bed 2s ease-in-out calc(var(--scroll) * -2s) paused;
}

.desk {
  left: calc(50vw - 30vh);
  opacity: 0;
  z-index: 10;
  animation: desk 2s ease-in-out calc(var(--scroll) * -2s) paused;
}


@keyframes desk {
  0% {
    transform: translate(-50vw, 0);
  }

  40% {
    transform: translate(-50vw, 0);
    opacity: 1;
  }

  50% {
    transform: translate(0, 0);
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes chair {
  0% {
    transform: translate(70vw, 0);
  }

  40% {
    transform: translate(70vw, 0);
    opacity: 1;
  }

  50% {
    transform: translate(0, 0);
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes bed {
  0% {
    transform: translate(80vw, 0);
  }

  60% {
    transform: translate(80vw, 0);
    opacity: 1;
  }

  70% {
    transform: translate(0, 0);
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}