body {
  font-family: 'Nanum Pen Script';
  font-size: 3rem;
  background: whitesmoke;
}

body.part1 {
  height: 1000vh;
}

.paper-texture {
  position: fixed;
  height: 100%;
}

.title {
  position: relative;
  top: 30vh;
  animation: title-fadeout 2s ease-in calc(var(--scroll) * -2s) paused;
}

.title-picture {
  max-width: 400px;
  width: 60vw;
  animation: wiggle-effect 2s infinite;
}

.title-text {
  position: relative;
  top: 30px;
}

/* part1 */
.story-text {
  position: fixed;
  top: 10vh;
  left: 10vw;
  width: 0;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 2s linear forwards;
}

@keyframes typing {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

@keyframes title-fadeout {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }

  4% {
    transform: translate(0, -50vh);
  }

}